@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  font-family: 'VT323';
  text-align: center;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: auto;
}

h1 {
  font-size: 36px;
}

h2 {
  color: grey;
  font-weight: normal;
  margin: 0;
}

em {
  color: rgb(209, 64, 64);
}

h3 {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 512px;
  margin: 0 auto;
  margin-top: 1em;
}

#instructions {
  font-family: sans-serif;
  color: #757575;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 320px;
  margin: auto;
}

#score {
  color: black;
  font-size: 2em;
  float: left;
}

#life {
  font-size: 2em;
  float: right;
}

#life:before {
  content: "life: ";
}

#score:before {
  content: "score: ";
}

.red {
  color: red;
}

.key {
  color: black;
}

#game-over, #game-over-overlay {
  margin: auto;
  width: 512px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

#game-over-overlay {
  background-color: black;
  opacity: .7;
  width: 100%;
  height: 100%;
}

#game-over {
  text-align: center;
  color: white;
}

#game-over h1 {
  font-size: 4em;
}

#game-over button {
  font-size: 1.5em;
}

button {
  cursor: pointer;
  font-family: 'VT323';
  padding: 10px;
  border-radius: 5%;
  background: red;
}
